{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
{% section 'product-recommendations' %}
{% section 'video-fullwidth' %}
{% section 'featured-section' %}
{% section 'in-the-box' %}
{% section 'text-and-image-box' %}
{% section 'influencer-reviews' %}

<div class="recommendations product-list">
  <h2>Accessories</h2>
  <div class="recommendations-list closed">
    {% assign product_collection = product.collections.first.handle %}
    {% if product_collection == "frontpage" %}
      {% assign product_collection = "accessories" %}
    {% endif %}

    {% if product_collection == "2020-products" %}
      {% assign product_collection = "accessories" %}
    {% endif %}

    {% for product in collections[product_collection].products limit: 7 %}
      {% if product.title == "Xen Convenience Bundle" %}
        {% assign convenience_bundle_product = product %}
        {% continue %}
      {% endif %}

      {% if forloop.last == true %}
        {% render 'product-thumbnail'
          product: convenience_bundle_product
          products_per_row: 3,
          collection_group_thumb: collection_group_thumb,
          collection_group_mobile: collection_group_mobile,
          sidebar: sidebar
        %}
      {% else %}
        {% render 'product-thumbnail'
          product: product,
          products_per_row: 3,
          collection_group_thumb: collection_group_thumb,
          collection_group_mobile: collection_group_mobile,
          sidebar: sidebar
        %}
      {% endif %}
    {% endfor %}
  </div>


  <div class="recommendations__show-more primary-btn">Load more</div>
</div>

<div id="stamped-main-widget"
     data-widget-style="standard"
     data-product-id="{{ product.id }}"
     data-name="{{ product.title | escape }}"
     data-url="{{ shop.url }}{{ product.url }}"
     data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
     data-description="{{ product.description | escape }}"
     data-product-sku="{{product.handle}}"
     data-product-type="{{product.type}}">
  {{ product.metafields.stamped.reviews }}
</div>

<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

{% render 'product__structured-data' %}
