{% if section.blocks.size > 0 %}
  <div class="sidebar four columns medium-down--one-whole">
    <div class="sidebar_content toggle-all--{{ section.settings.toggle }}">
      {% for block in section.blocks %}
        <div class="sidebar-block" {{ block.shopify_attributes }}>
          {% if block.type == 'search' %}
            <form class="blog_search blog-footer-search" action="{{ routes.search_url }}">
              <input type="hidden" name="type" value="article" />
              <span class="icon-search search-submit"></span>
              <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.title' | t }} {{ blog.title | escape }}..." autocapitalize="off" autocomplete="off" autocorrect="off" value="{{ search.terms }}" />
            </form>

          {% elsif block.type == 'newsletter' %}
            {% if block.settings.newsletter_title != blank %}
              <h4 class="newsletter-block__title">{{ block.settings.newsletter_title }}</h4>
            {% endif %}
            {% if block.settings.newsletter_text != blank %}
              <div class="newsletter-block__text">{{ block.settings.newsletter_text }}</div>
            {% endif %}
            {% render 'newsletter-form', context: 'blog' %}

          {% elsif block.type == 'post_tags'  %}
            <h4 class="toggle">{{ 'blogs.sidebar.categories' | t }}<span class="right icon-down-arrow"></span></h4>
            <ul class="toggle_list">
              {% for tag in blogs[blog_handle].all_tags %}
                <li>
                  <a href="{{ shop.url}}/blogs/{{ blogs[blog_handle].handle }}/tagged/{{ tag | handleize }}" title="{{ blogs[blog_handle].title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a>
                </li>
              {% endfor %}
            </ul>

          {% elsif block.type == 'page' %}
            {% if block.settings.content_page != blank %}
              <h4 class="toggle">{{ pages[block.settings.content_page].title }}<span class="right icon-down-arrow"></h4>
              <ul class="toggle_list content_block">
                <li>{{ pages[block.settings.content_page].content }}</li>
              </ul>
            {% else %}
              <h4 class="toggle">Page title<span class="right icon-down-arrow"></span></h4>
              <ul class="toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}

          {% elsif block.type == 'text' %}
            <h4 class="toggle">{{ block.settings.title }}<span class="right icon-down-arrow"></span></h4>
            <ul class="toggle_list content_block">
              <li>{{ block.settings.text }}</li>
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
