<div class="main-slider" style="background-image: url('{{ section.settings.background_image.src | image_url }}')">
  <div class="main-slider__content">
    <h1>{{ section.settings.title }}</h1>
    <p>{{ section.settings.content }}</p>

    {% if block.settings.video_url != empty %}
      <div class="video-section">
        <a data-fancybox class="video-button-play video-modal" href="/#" data-src="{{ block.settings.video_url }}"></a>
      </div>
    {% endif %}

    <div class="main-slider__mobile-img">
      <img src="{{ section.settings.mobile_image.src | image_url }}" />
    </div>
  </div>
</div>
