{% paginate customer.orders by 20 %}
  <a name="pagecontent" id="pagecontent"></a>

  <div class="account-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0083/9178/6551/files/img_login.png?v=1606435952');">
    <h1>My Account</h1>
  </div>

  <div class="first-time-login">
    <div class="first-time-login__modal">
      <div class="envelope"></div>
      <h2>THANK YOU FOR SIGNING UP!</h2>
      <p>Welcome to the Neuvana family! We have sent an email to <span class="email-addr">emailaddress@emailaddress.com</span>. Please click the link included to verify your account.</p>
      <a href="#" class="primary-btn">CONTINUE</a>
    </div>
  </div>

  <div class="container account-dashboard">
    <div class="account-sidebar">
      <h2>DASHBOARD</h2>
      <ul>
        <li><a href="#">Order History</a></li>
        <li><a href="#">Account Details</a></li>
        <li><a href="{{ routes.account_logout_url }}" id="customer_logout_link">Log Out</a></li>
      </ul>
    </div>

    <div class="account-main">
      <div class="account-order-history">
        <h2>Order History</h2>

        {% if customer.orders.size != 0 %}
          <table id="customer-orders" class="collapsible-table">
            <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
            </thead>

            <tbody>
            {% for order in customer.orders %}
              <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: "month_day_year" }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">
                  <span class="money">{% render 'price-element', price: order.total_price %}</span>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
        {% endif %}

        {% render 'pagination', paginate: paginate %}
      </div>

      <div class="account-info">
        <div class="account-details">
          <h2>Details</h2>
          <ul>
            <li>{{ customer.email }}</li>
            <li>Accepts Marketing: {% if customer.accepts_marketing %}Yes{% else %}No{% endif %}</li>
          </ul>
        </div>

        <div class="account-addresses">
          <h2>Addresses</h2>
          {% if customer.default_address != nil %}
            <p>{{ customer.default_address.address1 }}</p>

            {% if customer.default_address.address2 != "" %}
              <p>{{ customer.default_address.address2 }}</p>
            {% endif %}

            <p>{{ customer.default_address.city }}{% if customer.default_address.province_code %}, {{ customer.default_address.province_code }}{% endif %} {{ customer.default_address.zip}}</p>

            <p>{{ customer.default_address.country }}</p>

            <p>{{ customer.default_address.phone }}</p>
          {% else %}
            <p>{{ 'customer.addresses.no_addresses' | t }}</p>
          {% endif %}
          <a href="{{ routes.account_addresses_url }}">View Addresses ({{ customer.addresses_count }})</a>
        </div>
      </div>
    </div>
  </div>
  </main>
{% endpaginate %}
