{% comment %}
** Contact page - custom view **
- Page template
{% endcomment %}

<div class="contact__header" style="background-image:url('{{ section.settings.image.src | image_url }}')">
  <div class="contact-header__content">
    <h1>{{ section.settings.main_heading }}</h1>
    <p>{{ section.settings.main_subheading }}</p>
  </div>
</div>
<div class="container">
  <div class="contact__content">
    <h2>{{ section.settings.form_title }}</h2>
    <div class="form-divider"></div>
    <ul>
      <li>Call</li>
      <li class="phone">{{ section.settings.telephone_1 }}</li>
      <li class="phone">{{ section.settings.telephone_2 }}</li>
      <li>{{ section.settings.opening_times }}</li>
    </ul>
  </div>
  {% include 'include-contact-form', context: 'contact-template' %}
</div>

{% schema %}

{
  "name": "Contact",
  "class": "contact-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1800 x 800px recommended"
    },
    {
    "type": "text",
    "id": "main_heading",
    "label": "Heading"
    },
    {
    "type": "text",
    "id": "main_subheading",
    "label": "Subheading"
    },
    {
    "type": "text",
    "id": "form_title",
    "label": "Form Title"
    },
    {
    "type": "text",
    "id": "telephone_1",
    "label": "Telephone"
    },
    {
    "type": "text",
    "id": "telephone_2",
    "label": "Telephone"
    },
    {
    "type": "text",
    "id": "opening_times",
    "label": "Opening Times"
    }
  ]
}

{% endschema %}
