{% comment %}
  ** Footer - default view **
  - Static section
  - Uses blocks
{% endcomment %}

{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

<footer class="footer">
  <div class="container footer-menu-wrap">
    <div class="footer-menu">
      <h3>{{ section.settings.item_title_1 }}</h3>
      <ul class="footer-menu__items two-column">
        {% for link in linklists[section.settings.company_linklist].links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="footer-menu footer-legal-menu">
      <h3>{{ section.settings.item_title_2 }}</h3>
      <ul class="footer-menu__items">
        {% for link in linklists[section.settings.legal_linklist].links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="footer-menu footer-customer-support-menu">
      <h3>{{ section.settings.item_title_3 }}</h3>
      <ul class="footer-menu__items">
        {% for link in linklists[section.settings.customer_support_linklist].links %}
          <li>
            <a href="{{ link.url }}" {% if link.title contains 'User Guide' %}target="_blank" {% endif %}>{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="social-icons desktop-only">
        <a href="{{ section.settings.fb_url }}" target="_blank" aria-label="facebook link" rel="noopener"><div class="fb-icon"></div></a>
        <a href="{{ section.settings.ig_url }}" target="_blank" aria-label="instagram link" rel="noopener"><div class="ig-icon"></div></a>
        <a href="{{ section.settings.twitter_url }}" target="_blank" aria-label="twitter link" rel="noopener"><div class="twitter-icon"></div></a>
        <a href="{{ section.settings.youtube_url }}" target="_blank" aria-label="youtube link" rel="noopener"><div class="youtube-icon"></div></a>
        <a href="{{ section.settings.linkedin_url }}" target="_blank" aria-label="linkedin link" rel="noopener"><div class="linkedin-icon"></div></a>
      </div>
    </div>

    <div class="footer-menu footer-social-icons-menu mobile-only">
      <div class="social-icons">
        <a href="{{ section.settings.fb_url }}" target="_blank" aria-label="fb link" rel="noopener"><div class="fb-icon"></div></a>
        <a href="{{ section.settings.ig_url }}" target="_blank" aria-label="instagram link" rel="noopener"><div class="ig-icon"></div></a>
        <a href="{{ section.settings.twitter_url }}" target="_blank" aria-label="twitter link" rel="noopener"><div class="twitter-icon"></div></a>
        <a href="{{ section.settings.youtube_url }}" target="_blank" aria-label="youtube link" rel="noopener"><div class="youtube-icon"></div></a>
        <a href="{{ section.settings.linkedin_url }}" target="_blank" aria-label="linkedin link" rel="noopener"><div class="linkedin-icon"></div></a>
      </div>
    </div>
  </div>
</footer>
<div class="footer-copyright">
  <p>{{ section.settings.footer_copyright }}</p>
</div>

{% schema %}
  {
  "name": "Footer",
  "class": "footer-section",
  "settings":[
  {
  "type": "text",
  "id": "item_title_1",
  "label": "First Item Title"
  },
  {
  "type": "link_list",
  "id": "company_linklist",
  "label": "Company Navigation"
  },
  {
  "type": "text",
  "id": "item_title_2",
  "label": "Second Item Title"
  },
  {
  "type": "link_list",
  "id": "legal_linklist",
  "label": "Legal Navigation"
  },
  {
  "type": "text",
  "id": "item_title_3",
  "label": "Third Item Title"
  },
  {
  "type": "link_list",
  "id": "customer_support_linklist",
  "label": "Legal Navigation"
  },
  {
  "type": "text",
  "id": "twitter_url",
  "label": "Twitter URL"
  },
  {
  "type": "text",
  "id": "fb_url",
  "label": "Facebook URL"
  },
  {
  "type": "text",
  "id": "ig_url",
  "label": "Instagram URL"
  },
  {
  "type": "text",
  "id": "linkedin_url",
  "label": "LinkedIn URL"
  },
  {
  "type": "text",
  "id": "youtube_url",
  "label": "YouTube URL"
  },
  {
  "type": "text",
  "id": "footer_copyright",
  "label": "Footer copyright"
  }
  ]
  }
{% endschema %}
