{% comment %}
  ** Team page - custom view **
  - Page template
  - Uses blocks
{% endcomment %}

<a name="pagecontent" id="pagecontent"></a>


<div class="section container">
  <div class="page-about__text-dropdown">
    <div class="page-about__text-dropdown-content">
      <div class="video-section">
        <a data-fancybox class="video-button-play video-modal" href="{{ section.settings.video_url }}"></a>
      </div>
      <h2>{{ section.settings.section_title }}</h2>
      <div class="section-divider"></div>

      <div class="page-about__dropdown">
        <div class="visible-text">{{ section.settings.visible_text }}</div>
        <div class="full-text" style="display: none;">{{ section.settings.full_text }}</div>
        <a class="secondary-btn align-center show-more">MORE <div class="icon-arrow-down"></div></a>
        <a class="secondary-btn align-center show-less" style="display: none;">{{ 'general.custom_pages.show_less' | t }} <div class="icon-arrow-up"></div></a>
      </div>
    </div>
  </div>
</div>

{% if page.title %}
  <div class="sixteen columns page clearfix">
    <h1>
      {{ section.settings.page_title }}
    </h1>
  </div>
{% endif %}

<div class="section">
  <div class="sixteen columns">
    {% if section.settings.image != blank or section.settings.text != blank or section.settings.title != blank %}
      <hr class="feature_divider">
    {% endif %}

    <div class="row team-members equal-columns--clear">
      {% for block in section.blocks %}
        {% if block.type == "employee" %}
          {% capture name %}{{ block.settings.title }}{% endcapture %}
          {% capture twitter_handle %}{{ block.settings.twitter }}{% endcapture %}
          {% capture title %}{{ block.settings.job_title }}{% endcapture %}
          {% capture description %}{{ block.settings.description }}{% endcapture %}

          {% assign employee_per_row = 3 %}
          {% assign perRow = 'one-third column' %}
          {% capture alphaOmegaCycle %}
          {% cycle 'alpha', '', 'omega' %}
          {% endcapture %}

          <div class="{{ perRow }} center {{ alphaOmegaCycle }} team-member__profile">
            <figure class="team-member__wrap">
              {% if block.settings.image %}
                {% render 'image-element',
                  image: block.settings.image,
                  alt: block.settings.image.alt
                %}
              {% else %}
                {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}

              <figcaption class="team-member__overlay">
                <div class="team-member__details">
                  {% if description != blank %}
                    <p>{{description}}</p>
                  {% endif %}
                </div>
              </figcaption>
            </figure>
            <h3 class="team-member__name no_border">{{ name }}</h3>
            <p class="team-member__job-title">{{ block.settings.job_title }}</p>
          </div>
          {% if employee_per_row == 2 %}
            {% cycle '', '<br class="clear product_clear" />' %}
            {% elsif employee_per_row == 3 %}
            {% cycle '', '', '<br class="clear product_clear" />' %}
          {% else %}
            {% cycle '', '', '', '<br class="clear product_clear" />' %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="team-heading">
      <h2>{{ section.settings.council_title }}</h2>
      <div class="team-page__divider"></div>
      <p>{{ section.settings.council_text }}</p>
    </div>

    <p></p>
    <div class="row team-members team-members__council equal-columns--clear">
      {% for block in section.blocks %}
        {% if block.type == "council" %}
          {% capture name_council %}{{ block.settings.title_council }}{% endcapture %}
          {% capture title_council %}{{ block.settings.job_title_council }}{% endcapture %}
          {% capture description_council %}{{ block.settings.description_council }}{% endcapture %}
          {% capture image_council %}{{ block.settings.image_council }}{% endcapture %}

          {% assign employee_per_row = 3 %}
          {% assign perRow = 'one-third column' %}
          {% capture alphaOmegaCycle %}
          {% cycle 'alpha', '', 'omega' %}
          {% endcapture %}

          <div class="{{ perRow }} center {{ alphaOmegaCycle }} team-member__profile">
            <figure class="team-member__wrap">
              {% if block.settings.image_council %}
                {% render 'image-element',
                  image: block.settings.image_council,
                  alt: block.settings.image_council.alt
                %}
              {% else %}
                {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}

              <figcaption class="team-member__overlay">
                <div class="team-member__details">
                  {% if description_council != blank %}
                    <p>{{ description_council }}</p>
                  {% endif %}
                </div>
              </figcaption>
            </figure>
            <h3 class="team-member__name no_border">{{ name_council }}</h3>
            <p class="team-member__job-title">{{ title_council }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .team-member__details h4,
  .team-member__details p {
    color: {{ section.settings.member_color }};
  }

  .team-member__details h4::after { background-color: {{ section.settings.member_accent_color }}; }

  {% assign hover_bg = section.settings.member_overlay_color | color_extract: 'alpha' %}
  .team-member__overlay {
  {% if hover_bg != 0 %}
    background-color: {{ section.settings.member_overlay_color | color_modify: 'alpha', 0.8 }}
  {% endif %}
  }
</style>

{% schema %}

  {
  "name": "Page | team",
  "class": "team-section",
  "settings": [
  {
  "type": "text",
  "id": "page_title",
  "label": "Page Title"
  },
  {
  "type": "text",
  "id": "section_title",
  "label": "Inventor Title"
  },
  {
  "type": "textarea",
  "id": "visible_text",
  "label": "Dropdown Visible Text"
  },
  {
  "type": "textarea",
  "id": "full_text",
  "label": "Dropdown Full Text"
  },
  {
  "type": "text",
  "id": "video_url",
  "label": "Video URL"
  },
  {
  "type": "header",
  "content": "Employees"
  },
  {
  "type": "color",
  "id": "member_overlay_color",
  "label": "Overlay",
  "default": "#000"
  },
  {
  "type": "text",
  "id": "council_title",
  "label": "Council Title"
  },
  {
  "type": "textarea",
  "id": "council_text",
  "label": "Council Text"
  }
  ],
  "blocks": [
  {
  "name": "Employee",
  "type": "employee",
  "settings": [
  {
  "type": "image_picker",
  "id": "image",
  "label": "Image",
  "info": "800 x 800px recommended"
  },
  {
  "type": "text",
  "id": "title",
  "label": "Name",
  "default": "Jamie Ipsum"
  },
  {
  "type": "text",
  "id": "job_title",
  "label": "Job title",
  "default": "Fancy job title"
  },
  {
  "type": "richtext",
  "id": "description",
  "label": "Description"
  }
  ]
  },
  {
  "name": "Council",
  "type": "council",
  "settings": [
  {
  "type": "image_picker",
  "id": "image_council",
  "label": "Image",
  "info": "800 x 800px recommended"
  },
  {
  "type": "text",
  "id": "title_council",
  "label": "Name",
  "default": "Jamie Ipsum"
  },
  {
  "type": "text",
  "id": "job_title_council",
  "label": "Job title",
  "default": "Fancy job title"
  },
  {
  "type": "richtext",
  "id": "description_council",
  "label": "Description"
  }
  ]
  }
  ]
  }

{% endschema %}
