<div class="text-image">
  <div class="text-image__content">
    <div class="video-section">
      <a data-fancybox class="video-button-play video-modal" href="{{ section.settings.video_url }}"></a>
    </div>

    <h2>{{ section.settings.section_title }}</h2>
    <div class="section-divider"></div>

    <div class="page-about__dropdown">
      <div class="visible-text">{{ section.settings.visible_text }}</div>

      {% if section.settings.full_text != empty %}
        <div class="full-text" style="display: none;">{{ section.settings.full_text }}</div>
        <a class="secondary-btn show-more">{{ 'general.custom_pages.show_more' | t }} <div class="icon-arrow-down"></div></a>
        <a class="secondary-btn show-less" style="display: none;">{{ 'general.custom_pages.show_less' | t }} <div class="icon-arrow-up"></div></a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}

  {
  "name": "Text Video Accordion",
  "class": "text-video-accordion-section",
  "settings": [
  {
  "type": "text",
  "id": "section_title",
  "label": "Section Title"
  },
  {
  "type": "textarea",
  "id": "visible_text",
  "label": "Dropdown Visible Text"
  },
  {
  "type": "textarea",
  "id": "full_text",
  "label": "Dropdown Full Text"
  },
  {
  "type": "text",
  "id": "video_url",
  "label": "Video URL"
  }
  ]
  }

{% endschema %}
