<div class="testimonials-slider__mobile-img mobile-only" style="background-image: url('{{ section.settings.background_image.src | image_url }}')">
  {% if section.settings.influencer_name != empty %}
    <div class="featured-section__image-influencer">
      {{ section.settings.influencer_name }}
    </div>
  {% endif %}
</div>

<div class="testimonials-slider slider-left" style="background-image: url('{{ section.settings.background_image.src | image_url }}');">
  <div class="testimonials-slider__container" data-slider-testimonials>
    {% for block in section.blocks %}
      <div class="testimonials-slider-item">
        <div class="slider-item__content">
          <h2>{{ block.settings.slide_title }}</h2>
          <p>{{ block.settings.content }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if section.settings.influencer_name != empty %}
    <div class="featured-section__image-influencer">
      {{ section.settings.influencer_name }}
    </div>
  {% endif %}
</div>

{% schema %}
  {
  "name":"Slider Section Klarna",
  "class":"slider-section",
  "settings":[
  {
  "type":"image_picker",
  "id": "background_image",
  "label":"Background Image"
  },
  {
  "type":"text",
  "id": "influencer_name",
  "label":"Influencer Name"
  }
  ],
  "blocks":[
  {
  "type":"slider_item",
  "name":"Slider Item",
  "settings":[
  {
  "type":"image_picker",
  "id":"background_image",
  "label":"Slide Background"
  },
  {
  "type": "textarea",
  "id": "slide_title",
  "label": "Heading"
  },
  {
  "type": "html",
  "id": "content",
  "label":"Content"
  }
  ]
  }
  ]
  }
{% endschema %}
